* {
  box-sizing: border-box;
}

#section-lesson-types .collapsible-header {
  display: flex;
  justify-content: space-between;
}

#section-lesson-types .collapsible-header span {
  margin: 0.6rem 0;
  font-size: medium;
}

#section-lesson-types .collapsible-header h5 span {
  margin: 0.4rem 1rem;
  font-size: medium;
  border-radius: 5px;
}

#section-lesson-types .collapsible-body blockquote {
  margin: 0 0 1rem 1rem;
  font-size: medium;
}

#section-lesson-types .collapsible-body .card-content a {
  width: 100%;
  margin: 0.1rem 0;
}

#section-lesson-types .collapsible-body .card-content input {
  max-width: 3rem;
  max-height: 1rem;
}

#section-lesson-types .collapsible-body .lesson-type-actions a {
  margin: -0.5rem 0.7rem;
}

#lesson-type-modal .modal-content {
  padding-bottom: 0;
}

#lesson-type-modal .modal-content > div,
#lesson-type-modal .modal-content > input,
#lesson-type-modal .modal-content > textarea {
  margin: 1rem 0;
}
